.form-control {
    max-width: 500px;
}

.page-header {
    color: darkslategrey;
}

.form-group row {
    align-items: center;
}

.form-update-user {
    color: darkslategrey;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 70%;
}

#form-group {
    margin-bottom: 40px;
}

#goBack {
    margin-right: 10px;
}

#resetForm {
    margin-right: 10px;
}

#text-alert {
    vertical-align: baseline;
}

.text-danger {
    vertical-align: baseline;
}

.buttons {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}