
<div id="error" class="modalbackground">
    <div class="modalwindow">
		<a (click)="closeModal()" title="Закрыть" class="close">X</a>
        <h3>Настройки</h3>
        <p>Выберите порядок расположения колонок</p>

        <ul>
            <li *ngFor="let column of columns">
                {{ column.title }}
				<a class="up" (click)="upColumn(column)"></a>
                <a class="down" (click)="downColumn(column)"></a>
            </li>
        </ul>

		<a class="btn btn-primary" id="save" (click)="saveSettings()">Сохранить</a>
    </div>
</div>
