.modalbackground {
    margin: 0; /* убираем отступы */
    padding: 0; /* убираем отступы */
    position: fixed; /* фиксируем положение */
    top:0; /* растягиваем блок по всему экрану */
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5); /* полупрозрачный цвет фона */
    z-index:100; /* выводим фон поверх всех слоев на странице браузера */
    opacity: 1; /* Делаем невидимым */
    pointer-events: auto; /* элемент невидим для событий мыши */
}

/* при отображении модального окно - именно здесь начинается магия */
.modalbackground:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
}

/* ширина диалогового окна и его отступы от экрана */
.modalwindow {
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 2%;
    background: #fff;
    border-radius: 3px;
}

/* настройка заголовка */
.modalwindow h3 {
    padding: 0;
    margin: 0;
}

/* оформление сообщение */
.modalwindow p {
    padding: 0;
    margin: 4% 0 8% 0;
}

/* вид кнопки ЗАКРЫТЬ */
.close {
    display: block;
    color: #fff;
    background: #369;
    padding: 2%;
    margin: 0 auto;
    width: 50%;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

/* вид кнопки ЗАКРЫТЬ при наведении на нее мыши */
.modalwindow a:hover {
    background: #47a;
}

.close {
   
}

.close:hover { background: #00d9ff; }

li {
	width: 200px;
	height: 30px;
	background-color: #e1e1e1;
	padding: 7px 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-left: 10px solid #C7C7C7; 
	list-style-type: none;
	margin-left: auto;
    margin-right: auto;
	text-align: left;
	
	vertical-align: center;
}

ul > li:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.down {
	display: inline-block;
	background-image: url('arrow-down-32.png');
	min-height: 32px;
	min-width: 32px;
	cursor: pointer;
	float: right;
}

.up {
	display: inline-block !important;
	background-image: url('arrow-up-32.png') !important;
	min-height: 32px;
	min-width: 32px;
	cursor: pointer;
	float: right;
}
