<!--<p>
  settings-table works!
</p>

<ul>
    <li *ngFor="let hero of heroes">
      {{ hero }}
    </li>
  </ul>-->



<div id="error" class="modalbackground">
    <div class="modalwindow">
		<a (click)="closeModal()" title="Закрыть" class="close">X</a>
        <h3>Настройки</h3>
        <p>Выберите порядок расположения колонок</p>

        <ul>
            <li *ngFor="let column of columns">
                {{ column.title }}

                <!--<button (click)="upColumn(column)">Вверх</button>
                <button (click)="downColumn(column)">Вниз</button>-->
				
				<a class="up" (click)="upColumn(column)"></a>
                <a class="down" (click)="downColumn(column)"></a>
            </li>
        </ul>

        <!--<a href=" " (click)="saveSettings()">Закрыть</a>-->
		<a (click)="saveSettings()">Сохранить</a>
    </div>
</div>
